/* BASIC STYLES HERE */
* {
    user-select: none;
}

.logo {
    border-radius: 100%;
    max-height: 30vh;
}

body {
    background-color: black;
    color: white;
}

.true {
    color: rgb(12, 228, 12);
    border: 3px solid rgb(12, 228, 12);
}

.false {
    color: red;
    border: 3px solid red;
}